@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
}

html {font-family: 'Open Sans Regular', sans-serif;}
body { font-family: 'Open Sans Regular', sans-serif;  line-height: 20px;}

.container {width: 80%!important;}
.mtop-20 {margin-top: -20px;}
.mtop-50 {margin-top: -50px;}
.mtop50{margin-top: 50px;}
.verticalAlignMiddle {vertical-align: middle;}
.topSlogan {
    font-size: 24px;
    text-align: left;
}
.espacoLogo {position: absolute;}
.centered-horizontal {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    align-items: center;
    -webkit-align-items: center;
}
.centered-absolute {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    -webkit-align-items: center;
}
.logoNixTab {
  background: url('../img/logo_nix_gateway.svg') no-repeat center center;
  padding: 50px;
}

.styleList {
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: none;
    border-left: 1px solid #d9d9d9;
    border-image: initial;
    height: 100%;
    overflow: hidden;
    padding: 0px!important;
    padding-bottom: 20px!important;
}
.footerList {
    display: block;
    position: relative;
    margin-top: -10px;
    max-width: 360px;
    box-shadow: 0.2;
}
.totalField {
    background-color: #333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
    padding: 16px;
}
.btn {
    border: 0px!important;
    box-shadow: 0px!important;
}
.gateway-button {
    background: #42a5f5;
    background-color: #42a5f5;
    border-radius: 0px;
}
.gateway-button:hover {
    transition: all ease .5s!important;
    background-color: #1FD9C1!important;
    border: 0px!important;
}
.card-wrapper-credit { margin: 25px 0 50px 10px; }
.text-field-styles {padding: 26px;}
Paper {
    padding: 50px;
}
.logNix {
    margin-top: 5px;
    width: 200px;
    height: auto;
    text-align: center;
}
.titleList {
    font-size: 18px;
    color: black!important;
    font-weight: 400;
    background-color: #eeeeee;
    border-bottom: 2px solid #1E88E5;
    margin: 0px;
}
.toolbar-top {
    height: 100px!important;
    margin-bottom: 21px;
    background-color: transparent!important;
    color: rgba(0, 0, 0, 1.0);
}
@media screen and (max-width: 720px) {
    .toolbar-top {
        height: 30px!important;
        margin-bottom: 10px;
        color: #333!important;
    }
    .logNix {
        display: none;
        /*margin-top: 5px;
        width: 120px;
        height: auto;
        text-align: center;*/
    }
    .topSlogan {
        font-size: 14px!important;
        line-height: 20px;
        color: rgba(0, 0, 0, 1.0);
    }
    .header-title {margin-left: 20px;}
    .titleList {
        font-size: 12px;
        color: black!important;
        font-weight: 400;
        background-color: #eeeeee;
        border-bottom: 2px solid #1E88E5;
        margin: 0px;
    }
}
